<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../dist/style.css">
</head>

<body id="contact">
    <div class="container"></div>
    <script type="text/javascript" src="./dist/app-browserify.js"></script>
    <div class="header">
        <div>
          <a href="file:///Users/hannahsumner/Github%20Projects/new-portfolio/templates/home.html"><img id="logo" src="../images/logo.png"></a>
          <span>HKhatri</span>
        </div>
        <div id="menu">
        <a class="tab" id="margin" href="file:///Users/hannahsumner/Github%20Projects/new-portfolio/templates/contact.html">Contact</a>
        <a class="tab" href="file:///Users/hannahsumner/Github%20Projects/new-portfolio/templates/portfolio.html">Portfolio</a>
        <a class="tab" href="file:///Users/hannahsumner/Github%20Projects/new-portfolio/templates/whatido.html">What I Do</a>
        <a class="tab" href="file:///Users/hannahsumner/Github%20Projects/new-portfolio/templates/aboutme.html">About Me</a>
        
          
        </div>
    </div>
    <div id="background">
    	<div class="cont_details">
    		<div class="cont_forms"></div>
    		<div class="cont_info"></div>
    	</div>
    </div>
    <div class="footer"></div>
</body>